name: CI/CD Shade Road

on:
  push:
    branches: [ "main" ] # 메인 브랜치에 푸시될 때 실행

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/shade-road-app:latest
          platforms: linux/amd64

      - name: Debug Secret Length
        run: |
          if [ -z "$SSH_KEY" ]; then
            echo "Error: EC2_SSH_KEY is empty or not found!"
            exit 1
          else
            echo "EC2_SSH_KEY is found. Length: ${#SSH_KEY}"
          fi
        env:
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/shade-road # 프로젝트 폴더로 이동
            docker compose pull
            docker compose up -d
            docker image prune -f # 미사용 이미지 삭제 (용량 관리)
